<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/media/style.css">
    <title>Controlar Matriz de LEDs</title>
</head>
<body>
    <h1>Controlar Matriz de LEDs</h1>
    <div class="grid" id="grid">
        <!-- Aquí se generarán las celdas -->
    </div>

    <h1>Controlar Matriz de LEDs</h1>
    <button id="activarDinamico">Activar Modo Dinámico</button>

    <script defer src="js/index.js"></script>

</body>
</html>
